<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.takin.web.data.mapper.mysql.LeakcheckConfigMapper">
  <resultMap id="BaseResultMap" type="io.shulie.takin.web.data.model.mysql.LeakcheckConfigEntity">
    <!--@mbg.generated-->
    <!--@Table t_leakcheck_config-->
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="business_activity_id" jdbcType="BIGINT" property="businessActivityId"/>
    <result column="datasource_id" jdbcType="BIGINT" property="datasourceId"/>
    <result column="leakcheck_sql_ids" jdbcType="LONGVARCHAR" property="leakcheckSqlIds"/>
    <result column="customer_id" jdbcType="BIGINT" property="customerId"/>
    <result column="user_id" jdbcType="BIGINT" property="userId"/>
    <result column="remark" jdbcType="VARCHAR" property="remark"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, business_activity_id, datasource_id, leakcheck_sql_ids, customer_id, user_id, remark, create_time, update_time,
    is_deleted
  </sql>
</mapper>