<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.takin.web.data.mapper.mysql.ActivityNodeStateTableMapper">
    <resultMap id="BaseResultMap" type="io.shulie.takin.web.data.model.mysql.ActivityNodeState">
        <!--@mbg.generated-->
        <!--@Table t_application_api_manage-->
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="activity_id" jdbcType="BIGINT" property="activityId"/>
        <result column="service_name" jdbcType="VARCHAR" property="serviceName"/>
        <result column="owner_app" jdbcType="VARCHAR" property="ownerApp"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
    </resultMap>

    <insert id="setActivityNodeState" parameterType="io.shulie.takin.web.data.model.mysql.ActivityNodeState">
        INSERT INTO t_activity_node_service_state (id,activity_id,service_name,owner_app,state,tenant_id,env_code)
        VALUES (#{id},#{activityId},#{serviceName},#{ownerApp},#{state},#{tenantId},#{envCode})
        ON DUPLICATE KEY
        UPDATE state = #{state}
    </insert>

    <select id="getActivityNodes" resultMap="BaseResultMap" parameterType="long">
        SELECT activity_id,service_name,owner_app,state
        FROM t_activity_node_service_state
        WHERE activity_id = #{activityId};
    </select>

    <delete id="removeActivityNodeByActivityIdAndOwnerApp" parameterType="io.shulie.takin.web.data.model.mysql.ActivityNodeState">
        DELETE FROM t_activity_node_service_state WHERE activity_id = #{activityId} AND owner_app = #{ownerApp}
    </delete>

    <select id="findActivityIdByServiceName" resultType="map">
        SELECT blmt.LINK_ID AS linkId,blmt.LINK_NAME AS linkName
        FROM t_business_link_manage_table blmt
        INNER JOIN t_link_manage_table lmt
        ON blmt.RELATED_TECH_LINK = lmt.LINK_ID
        WHERE blmt.ENTRACE LIKE #{entrance}
        AND lmt.APPLICATION_NAME = #{appName}
        AND blmt.TENANT_ID = #{tenantId}
        AND blmt.IS_DELETED = 0
        AND blmt.persistence = 1
    </select>
</mapper>
