<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.takin.web.data.mapper.mysql.AgentReportMapper">

    <insert id="insertOrUpdate" parameterType="io.shulie.takin.web.data.model.mysql.AgentReportEntity">
        INSERT INTO t_agent_report (application_id, application_name, agent_id, ip_address, progress_id, agent_version,
                                    cur_upgrade_batch, status, agent_error_info, simulator_error_info, env_code,
                                    tenant_id)
            VALUE (#{applicationId}, #{applicationName}, #{agentId}, #{ipAddress}, #{progressId},
            #{agentVersion}, #{curUpgradeBatch}, #{status}, #{agentErrorInfo},
            #{simulatorErrorInfo},#{envCode},#{tenantId})
        ON DUPLICATE KEY
        UPDATE cur_upgrade_batch = #{curUpgradeBatch},
            status = #{status},
            agent_error_info = #{agentErrorInfo},
            simulator_error_info = #{simulatorErrorInfo}
    </insert>

    <delete id="selfDelete">
        DELETE FROM t_agent_report WHERE gmt_update &lt;= #{date}
    </delete>
</mapper>
