<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.takin.web.data.mapper.mysql.ApplicationNodeMapper">
    <select id="getAllNodesByApplicationName" resultType="java.lang.String">
        SELECT blmt.LINK_ID AS linkId,blmt.LINK_NAME AS linkName, blmt.persistence AS persistence
        FROM t_business_link_manage_table blmt
                 INNER JOIN t_link_manage_table lmt
                            ON blmt.RELATED_TECH_LINK = lmt.LINK_ID
        WHERE blmt.ENTRACE LIKE #{entrance}
          AND lmt.APPLICATION_NAME = #{appName}
          AND blmt.IS_DELETED = 0
    </select>

    <select id="getApplicationNamesWithIds" resultType="java.lang.String">
        SELECT APPLICATION_NAME FROM t_application_mnt WHERE APPLICATION_ID IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="getApplicationTags" resultType="java.lang.String">
        SELECT tag_name FROM t_application_tag_ref WHERE application_name = #{applicationName}
    </select>
</mapper>
