<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.takin.web.data.mapper.mysql.ApplicationAttentionListMapper">
    <resultMap id="BaseResultMap" type="io.shulie.takin.web.data.model.mysql.ApplicationAttentionListEntity">
        <!--@mbg.generated-->
        <!--@Table t_application_api_manage-->
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="activity_id" jdbcType="BIGINT" property="activityId"/>
        <result column="app_name" jdbcType="VARCHAR" property="applicationName"/>
        <result column="interface_name" jdbcType="VARCHAR" property="interfaceName"/>
        <result column="focus" jdbcType="TINYINT" property="focus"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,app_name,interface_name,focus,tenant_id,env_code
    </sql>
    <select id="getAttentionList" parameterType="io.shulie.takin.web.biz.pojo.request.application.ApplicationAttentionParam" resultType="io.shulie.takin.web.data.model.mysql.ApplicationAttentionListEntity">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_application_focus where 1=1
        <if test="tenantId!=null and tenantId!=''">
            AND tenant_id=#{tenantId}
        </if>
        <if test="envCode!=null and envCode!=''">
            AND env_code = #{envCode}
        </if>
        <if test="applicationName!=null and applicationName!=''">
            AND app_name = #{applicationName}
        </if>
        <if test="focus!=null and focus!=''">
            AND focus = #{focus}
        </if>
    </select>

    <insert id="attendApplicationService" parameterType="java.util.Map">
        INSERT INTO t_application_focus (id, app_name, interface_name, focus)
        VALUES (#{id}, #{appName}, #{interfaceName}, #{isAttend})
        ON DUPLICATE KEY
        UPDATE focus = #{isAttend}
    </insert>

</mapper>
