<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.takin.web.data.mapper.mysql.ApplicationMntConfigMapper">
    <resultMap id="BaseResultMap" type="io.shulie.takin.web.data.model.mysql.ApplicationMntConfigEntity">
        <!--@mbg.generated-->
        <!--@Table t_application_mnt_config-->
        <id column="TAMC_ID" jdbcType="BIGINT" property="tamcId"/>
        <result column="APPLICATION_ID" jdbcType="BIGINT" property="applicationId"/>
        <result column="CHEAT_CHECK" jdbcType="INTEGER" property="cheatCheck"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        TAMC_ID, APPLICATION_ID, CHEAT_CHECK, CREATE_TIME, UPDATE_TIME
    </sql>
</mapper>
