<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.takin.web.data.mapper.mysql.ClusterNacosConfigurationMapper">
    <resultMap id="BaseResultMap" type="io.shulie.takin.web.data.model.mysql.ClusterNacosConfiguration">
        <!--@mbg.generated-->
        <!--@Table t_agent_plugin-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="cluster_name" jdbcType="VARCHAR" property="clusterName"/>
        <result column="nacos_server_addr" jdbcType="VARCHAR" property="nacosServerAddr"/>
        <result column="nacos_namespace" jdbcType="VARCHAR" property="nacosNamespace"/>
        <result column="nacos_username" jdbcType="VARCHAR" property="nacosUsername"/>
        <result column="nacos_password" jdbcType="VARCHAR" property="nacosPassword"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `cluster_name`, `nacos_server_addr`, nacos_namespace, nacos_username, nacos_password, gmt_create, gmt_update
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from t_cluster_nacos_configuration
    </select>
</mapper>
