<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.takin.web.data.mapper.mysql.IsolationAppMainConfigMapper">
    <resultMap id="BaseResultMap" type="io.shulie.takin.web.data.model.mysql.IsolationAppMainConfigEntity">
        <!--@mbg.generated-->
        <!--@Table t_isolation_app_main_config-->
        <id column="application_id" jdbcType="BIGINT" property="applicationId"/>
        <result column="check_network" jdbcType="BOOLEAN" property="checkNetwork"/>
        <result column="mock_app_nodes" jdbcType="VARCHAR" property="mockAppNodes"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="iso_app_rets" jdbcType="LONGVARCHAR" property="isoAppRets"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="error_msg" jdbcType="VARCHAR" property="errorMsg"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        application_id, check_network, mock_app_nodes, `status`, iso_app_rets, create_time,
        update_time, error_msg
    </sql>
</mapper>
