<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.takin.web.data.mapper.mysql.JobStatusTraceLogMapper">
    <resultMap id="BaseResultMap" type="io.shulie.takin.web.data.model.mysql.JobStatusTraceLogEntity">
        <!--@mbg.generated-->
        <!--@Table JOB_STATUS_TRACE_LOG-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="job_name" jdbcType="VARCHAR" property="jobName"/>
        <result column="original_task_id" jdbcType="VARCHAR" property="originalTaskId"/>
        <result column="task_id" jdbcType="VARCHAR" property="taskId"/>
        <result column="slave_id" jdbcType="VARCHAR" property="slaveId"/>
        <result column="source" jdbcType="VARCHAR" property="source"/>
        <result column="execution_type" jdbcType="VARCHAR" property="executionType"/>
        <result column="sharding_item" jdbcType="VARCHAR" property="shardingItem"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="message" jdbcType="VARCHAR" property="message"/>
        <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, job_name, original_task_id, task_id, slave_id, `source`, execution_type, sharding_item,
        `state`, message, creation_time
    </sql>
</mapper>
