<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.takin.web.data.mapper.mysql.MiddlewareSummaryMapper">
    <resultMap id="BaseResultMap" type="io.shulie.takin.web.data.model.mysql.MiddlewareSummaryEntity">
        <!--@mbg.generated-->
        <!--@Table t_middleware_summary-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="total_num" jdbcType="INTEGER" property="totalNum"/>
        <result column="supported_num" jdbcType="INTEGER" property="supportedNum"/>
        <result column="unknown_num" jdbcType="INTEGER" property="unknownNum"/>
        <result column="not_supported_num" jdbcType="INTEGER" property="notSupportedNum"/>
        <result column="artifact_id" jdbcType="VARCHAR" property="artifactId"/>
        <result column="group_id" jdbcType="VARCHAR" property="groupId"/>
        <result column="ag" jdbcType="VARCHAR" property="ag"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="commit" jdbcType="VARCHAR" property="commit"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, `type`, total_num, supported_num, unknown_num, not_supported_num, artifact_id,
        group_id, ag, gmt_create, gmt_update, is_deleted, `commit`, `status`
    </sql>
</mapper>