<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.takin.web.data.mapper.mysql.MqMsgMapper">
    <resultMap id="BaseResultMap" type="io.shulie.takin.web.data.model.mysql.MqMsgEntity">
        <!--@mbg.generated-->
        <!--@Table t_mq_msg-->
        <id column="MSG_ID" jdbcType="BIGINT" property="msgId"/>
        <result column="MSG_TYPE" jdbcType="VARCHAR" property="msgType"/>
        <result column="DICT_TYPE" jdbcType="VARCHAR" property="dictType"/>
        <result column="MSG_HOST" jdbcType="VARCHAR" property="msgHost"/>
        <result column="MSG_PORT" jdbcType="VARCHAR" property="msgPort"/>
        <result column="MSG_IP" jdbcType="VARCHAR" property="msgIp"/>
        <result column="TOPIC" jdbcType="VARCHAR" property="topic"/>
        <result column="GROUPNAME" jdbcType="VARCHAR" property="groupname"/>
        <result column="QUEUE_CHANNEL" jdbcType="VARCHAR" property="queueChannel"/>
        <result column="QUEUE_MANAGER" jdbcType="VARCHAR" property="queueManager"/>
        <result column="CCSID" jdbcType="VARCHAR" property="ccsid"/>
        <result column="BASE_QUEUE_NAME" jdbcType="VARCHAR" property="baseQueueName"/>
        <result column="TRANSPORT_TYPE" jdbcType="VARCHAR" property="transportType"/>
        <result column="ESBCODE" jdbcType="VARCHAR" property="esbcode"/>
        <result column="CONSUME_STATUS" jdbcType="CHAR" property="consumeStatus"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="CONSUME_START_TIME" jdbcType="TIMESTAMP" property="consumeStartTime"/>
        <result column="CONSUME_END_TIME" jdbcType="TIMESTAMP" property="consumeEndTime"/>
        <result column="LAST_CONSUME_TIME" jdbcType="TIMESTAMP" property="lastConsumeTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        MSG_ID, MSG_TYPE, DICT_TYPE, MSG_HOST, MSG_PORT, MSG_IP, TOPIC, GROUPNAME, QUEUE_CHANNEL,
        QUEUE_MANAGER, `CCSID`, BASE_QUEUE_NAME, TRANSPORT_TYPE, ESBCODE, CONSUME_STATUS,
        CREATE_TIME, UPDATE_TIME, CONSUME_START_TIME, CONSUME_END_TIME, LAST_CONSUME_TIME
    </sql>
</mapper>
