<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.takin.web.data.mapper.mysql.PluginTenantRefMapper">

    <resultMap id="PLUGIN_LIB_BASE_MAP" type="io.shulie.takin.web.data.model.mysql.PluginLibraryEntity">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="plugin_name" jdbcType="VARCHAR" property="pluginName"/>
        <result column="plugin_type" jdbcType="VARCHAR" property="pluginType"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="version_num" jdbcType="BIGINT" property="versionNum"/>
        <result column="is_custom_mode" jdbcType="TINYINT" property="isCustomMode"/>
        <result column="update_description" jdbcType="VARCHAR" property="updateDescription"/>
        <result column="download_path" jdbcType="VARCHAR" property="downloadPath"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate"/>
    </resultMap>

    <select id="selectList"
            parameterType="io.shulie.takin.web.data.param.agentupgradeonline.PluginLibraryListQueryParam"
            resultMap="PLUGIN_LIB_BASE_MAP">
        SELECT pl.id,
        pl.plugin_name,
        pl.plugin_type,
        pl.version,
        pl.version_num,
        pl.is_custom_mode,
        pl.update_description,
        pl.download_path,
        pl.gmt_create,
        pl.gmt_update
        FROM t_plugin_library pl
        LEFT JOIN t_plugin_tenant_ref pt ON pl.plugin_name = pt.plugin_name AND pl.version = pt.plugin_version
        WHERE pl.plugin_type != 2
        <if test="tenantId != null">
            AND ((pl.is_custom_mode = 1 AND pt.owning_tenant_id = #{tenantId}) OR pl.is_custom_mode = 0)
        </if>
        <if test="pluginName != null and pluginName != ''">
            AND pl.plugin_name = #{pluginName}
        </if>

    </select>


</mapper>
