<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.takin.web.data.mapper.mysql.PradarAppAgentMapper">
    <resultMap id="BaseResultMap" type="io.shulie.takin.web.data.model.mysql.PradarAppAgentEntity">
        <!--@mbg.generated-->
        <!--@Table pradar_app_agent-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="app_group_id" jdbcType="BIGINT" property="appGroupId"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="machine_room" jdbcType="VARCHAR" property="machineRoom"/>
        <result column="host_port" jdbcType="VARCHAR" property="hostPort"/>
        <result column="hostname" jdbcType="VARCHAR" property="hostname"/>
        <result column="agent_status" jdbcType="TINYINT" property="agentStatus"/>
        <result column="agent_version" jdbcType="VARCHAR" property="agentVersion"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="deleted" jdbcType="INTEGER" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, app_group_id, ip, machine_room, host_port, hostname, agent_status, agent_version,
        create_time, modify_time, deleted
    </sql>
</mapper>
