<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.takin.web.data.mapper.mysql.PradarZkConfigMapper">
    <resultMap id="BaseResultMap" type="io.shulie.takin.web.data.model.mysql.PradarZkConfigEntity">
        <!--@mbg.generated-->
        <!--@Table t_pradar_zk_config-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="zk_path" jdbcType="VARCHAR" property="zkPath"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="value" jdbcType="VARCHAR" property="value"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, zk_path, `type`, `value`, `remark`, is_deleted, create_time,
        modify_time
    </sql>

    <select id="selectListByZkPath"
            resultType="io.shulie.takin.web.data.result.pradarzkconfig.PradarZkConfigResult">
        select id, zk_path, `type`, `value`, remark, tenant_id, env_code from t_pradar_zk_config where is_deleted = 0 and tenant_id = #{tenantId} and env_code = #{envCode} and zk_path = #{zkPath}
        UNION ALL
        select id, zk_path, `type`, `value`, remark, tenant_id, env_code from t_pradar_zk_config where is_deleted = 0 and tenant_id = -1 and env_code = 'system' and zk_path = #{zkPath}
    </select>

    <select id="selectPageByTenantIdAndEnvCode"
            resultType="io.shulie.takin.web.data.result.pradarzkconfig.PradarZkConfigResult">
        SELECT * FROM (SELECT id, zk_path, `value`, `type`, remark, modify_time FROM t_pradar_zk_config
        WHERE tenant_id IN
        <foreach collection="param.tenantIds" item="tenantId" separator="," open="(" close=")">
            #{tenantId}
        </foreach>
        AND env_code IN
        <foreach collection="param.envCodeList" item="envCode" separator="," open="(" close=")">
            #{envCode}
        </foreach>
        ORDER BY tenant_id DESC LIMIT 100) t GROUP BY t.zk_path
    </select>

</mapper>
