<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.takin.cloud.data.mapper.mysql.ReportMapper">
  <resultMap id="BaseResultMap" type="io.shulie.takin.cloud.data.model.mysql.ReportEntity">
    <!--@mbg.generated-->
    <!--@Table t_report-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="scene_id" jdbcType="BIGINT" property="sceneId" />
    <result column="job_id" jdbcType="BIGINT" property="jobId" />
    <result column="scene_name" jdbcType="VARCHAR" property="sceneName" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="conclusion" jdbcType="INTEGER" property="conclusion" />
    <result column="total_request" jdbcType="BIGINT" property="totalRequest" />
    <result column="avg_tps" jdbcType="DECIMAL" property="avgTps" />
    <result column="avg_rt" jdbcType="DECIMAL" property="avgRt" />
    <result column="concurrent" jdbcType="INTEGER" property="concurrent" />
    <result column="success_rate" jdbcType="DECIMAL" property="successRate" />
    <result column="sa" jdbcType="DECIMAL" property="sa" />
    <result column="operate_id" jdbcType="BIGINT" property="operateId" />
    <result column="features" jdbcType="LONGVARCHAR" property="features" />
    <result column="script_node_tree" jdbcType="VARCHAR" property="scriptNodeTree"/>
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, amount, scene_id,job_id, scene_name, start_time, end_time, `status`, conclusion,
    total_request, avg_tps, avg_rt, concurrent, success_rate, sa, operate_id, features, script_node_tree,
    is_deleted, gmt_create, gmt_update
  </sql>

  <select id="queryBySceneIds" parameterType="list" resultMap="BaseResultMap">
    select t.id,t.scene_id,t.job_id,t.scene_name,t.status, t.gmt_create
    from (
        select distinct(a.id) tid, a.* from t_report a
        where a.scene_id in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by a.id desc
        ) t
    group by t.scene_id
  </select>
</mapper>