<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.takin.web.data.mapper.mysql.ShadowMqConsumerMapper">
    <resultMap id="BaseResultMap" type="io.shulie.takin.web.data.model.mysql.ShadowMqConsumerEntity">
        <!--@mbg.generated-->
        <!--@Table t_shadow_mq_consumer-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="topic_group" jdbcType="VARCHAR" property="topicGroup"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="application_id" jdbcType="BIGINT" property="applicationId"/>
        <result column="application_name" jdbcType="VARCHAR" property="applicationName"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="customer_id" jdbcType="BIGINT" property="customerId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="deleted" jdbcType="INTEGER" property="deleted"/>
        <result column="feature" jdbcType="LONGVARCHAR" property="feature"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="manual_tag" jdbcType="INTEGER" property="manualTag"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `type`, `topic_group`, application_id, application_name, `status`, customer_id,
        user_id, deleted, feature, create_time, update_time,manual_tag
    </sql>
</mapper>
