<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.takin.web.data.mapper.mysql.TenantDataSignConfigMapper">


    <update id="clearSign">
            update t_tenant_data_sign_config
            set sign = ""
            where tenant_id  IN
            <foreach collection="tenantIds" item="tenantId" open="(" close=")" separator=",">
                #{tenantId}
            </foreach>
            AND `env_code` = #{envCode}
    </update>
</mapper>
