<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.takin.web.data.mapper.mysql.TraceManageDeployMapper">
    <resultMap id="BaseResultMap" type="io.shulie.takin.web.data.model.mysql.TraceManageDeployEntity">
        <!--@mbg.generated-->
        <!--@Table t_trace_manage_deploy-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="trace_manage_id" jdbcType="BIGINT" property="traceManageId"/>
        <result column="trace_deploy_object" jdbcType="VARCHAR" property="traceDeployObject"/>
        <result column="sample_id" jdbcType="VARCHAR" property="sampleId"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="has_children" jdbcType="INTEGER" property="hasChildren"/>
        <result column="line_num" jdbcType="INTEGER" property="lineNum"/>
        <result column="avg_time" jdbcType="DECIMAL" property="avgTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="feature" jdbcType="LONGVARCHAR" property="feature"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, trace_manage_id, trace_deploy_object, sample_id, `level`, parent_id, has_children,
        line_num, avg_time, `status`, create_time, update_time, feature
    </sql>
</mapper>
