<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.takin.web.data.mapper.mysql.UserMapper">

    <select id="getIdByName" resultType="java.lang.Long">
        SELECT `id`
        FROM t_tro_user
        WHERE `name` = #{userName}
    </select>
    <select id="getNameById" resultType="java.lang.String">
        SELECT `name`
        FROM t_tro_user
        WHERE `id` = #{id}
    </select>
</mapper>
