<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.takin.web.data.mapper.mysql.WhitelistEffectiveAppMapper">
  <resultMap id="BaseResultMap" type="io.shulie.takin.web.data.model.mysql.WhitelistEffectiveAppEntity">
    <!--@mbg.generated-->
    <!--@Table t_whitelist_effective_app-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="interface_name" jdbcType="VARCHAR" property="interfaceName" />
    <result column="EFFECTIVE_APP_NAME" jdbcType="VARCHAR" property="effectiveAppName" />
    <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
    <result column="env_code" jdbcType="BIGINT" property="envCode" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, interface_name, EFFECTIVE_APP_NAME, tenant_id,env_code, user_id, gmt_create, gmt_modified,
    is_deleted
  </sql>
</mapper>