<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pamirs.takin.entity.dao.dict.TDictDao">

    <!-- 查询白名单字典列表或者查询链路等级字典列表 -->
    <select id="queryDicList" resultType="Map">
        SELECT tdt.ID DICT_TYPE,
               tdd.VALUE_ORDER,
               tdd.VALUE_NAME
        FROM t_dictionary_type tdt,
             t_dictionary_data tdd
        WHERE tdt.ID = tdd.DICT_TYPE
          AND tdt.ID = (
            SELECT tdt.ID
            FROM t_dictionary_type tdt
            WHERE tdt.TYPE_ALIAS = #{TYPE_ALIAS}
        ) AND tdd.tenant_id = -1 AND tdd.env_code = 'system'

        UNION

        SELECT tdt.ID DICT_TYPE,
               tdd.VALUE_ORDER,
               tdd.VALUE_NAME
        FROM t_dictionary_type tdt,
             t_dictionary_data tdd
        WHERE tdt.ID = tdd.DICT_TYPE
          AND tdt.ID = (
            SELECT tdt.ID
            FROM t_dictionary_type tdt
            WHERE tdt.TYPE_ALIAS = #{TYPE_ALIAS}
        ) AND tdd.tenant_id = #{tenantId} AND tdd.env_code = #{envCode}
    </select>
</mapper>
